@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30pt;
  text-align: center;
}

.main {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 2em;
}

.fixed-container {
  position:fixed;
  bottom:0;
  width: 100vw;
}

.order-info {
  background-color: #e5a33e;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  height: 5em;
}

/* ------------------INFORMAÇÕES CLIENTE------------------- */

.info-client {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info-client > label {
  text-align: start;
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
  font-weight: 600;
  margin-bottom: 1em;
  color: #000;
  display: flex;
  flex-direction: wrap;
}

.info-client > label > input {
  height: 2em;
  width: 14em;
  border-radius: 0.5em;
  margin: 0 1em;
}

/* -------RESUMO PEDIDO ---------- */

.container-resum {
  flex: 3 1;
  background-color: rgba(0, 0, 0, 0.233);
  overflow-y: scroll;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container-resum > h2 {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 15pt;
  font-weight: 800;
  margin-top: 0em;
}

.resum-itens {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 18pt;
  text-align: start;
  flex-direction: column;
  text-transform: capitalize;
}

.details-order {
  display: flex;
  align-items: center;
  background-color: #f2cc91;
  border-radius: 0.2em;
  margin: 0.1em;
  width: 18em;
  justify-content: space-between;
  padding: 0 1em;
}

.details-order > p {
  font-size: 12px;
  color: #000;
}

.btn-delete {
  background-color: #000;
  cursor: pointer;
  border-radius: 2em;
  padding: 0.2em;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.btn-delete:hover {
  background-color: rgba(0, 0, 0, 0.651);
  transform: scale(0.9);
}

.icon-trash {
  width: 2em;
  height: 2em;
}

.icon-trash:hover {
  opacity: 0.8;
}

/* --------------TOTAL -------------------- */

.container-total {
  background-color: #e5a33e;
  border-top: #000 0.1em solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-total:nth-child(1) {
  text-align: center;
  flex: 2;
  align-items: center;
}

.item-total:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69%;
}

.item-total > h4 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 20pt;
  margin-left: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 900;
  border-radius: 0.5em;
  background-color: #000;
}

.btn-finalizar {
  background-color: #3b6204;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  font-size: 19pt;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  border: none;
  outline: none;
}

.btn-finalizar:hover {
  background-color: #568d0a;
  transform: scale(0.9);
}

.btn-finalizar > img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

/* -------------CARDAPIO ------------------------- */

.container-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-bebidas{
  margin-bottom: 10em;
}

/* ------------- DIVS COM ITENS---------------- */

.itens-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 0.1em;
  border-color: #e5a33e;
  border-radius: 0.5em;
  width: 4em;
  height: 9em;
  margin: 0.05em;
}

.itens-menu > h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 13pt;
}

.itens-menu > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

.itens-menu > img {
  width: 2em;
  height: 2em;
  border-radius: 100em;
}

.btn-add-item {
  background-color: #e5a33e;
  font-family: 'Open Sans', sans-serif;
  font-size: 25pt;
  border: none;
  color: black;
  border-radius: 2em;
  margin-bottom: 1em;
  padding: 0 0.5em;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  outline: none;
}

.btn-add-item:hover {
  background-color: rgba(240, 232, 235, 0.658);
  transform: scale(0.9);
}
